@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>


    <style>
        .select,
        #locale {
            width: 100%;
        }

        .like {
            margin-right: 10px;
        }
    </style>



    <div class="text-center">
        <h1 class="display-4">Welcome @User.Identity.Name</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <input id="website" type="text" value="" />
                </div>
                <div class="col-md-4">
                    <input id="username" type="text" value="" />
                </div>
                <div class="col-md-4">
                    <input id="password" type="password" value="" />
                </div>

                <div class="col-sm">
                    <input id="Submit1" type="submit" value="Add Password" onclick="return Submit1_onclick()" />
                </div>

                @*Insert password table here.*@

            </div>
            <div class="container">
                <table id="table"
                       data-url=@Url.Action("Detail","Mongo", new { id = UserManager.GetUserId(this.User)})
                       data-id-field="id">
                </table>
            </div>

        </div>

        <script>
            $(document).ready(function () {
                setupGrid();
                setChartHeight();
                $(window).resize(function () {
                    initTable();
                    $('#locale').change(initTable)
                });
            });


            function initTable() {
                $table.bootstrapTable({
                    height: 550,
                    locale: $('#locale').val(),
                    columns: [
                        [{
                            field: 'state',
                            checkbox: true,
                            rowspan: 2,
                            align: 'center',
                            valign: 'middle'
                        }, {
                            title: 'Item ID',
                            field: 'id',
                            rowspan: 2,
                            align: 'center',
                            valign: 'middle',
                            sortable: true
                        }, {
                            title: 'Item Detail',
                            colspan: 3,
                            align: 'center'
                        }],
                        [{
                            field: 'website',
                            title: 'Website',
                            sortable: true,
                            align: 'center'
                        }, {
                            field: 'username',
                            title: 'Email / Username',
                            sortable: true,
                            align: 'center'
                        }, {
                            field: 'password',
                            title: 'Password',
                            sortable: true,
                            align: 'center'
                        }]
                    ]
                })
            }

        </script>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}


